<% layout("/layout/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PATCH" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input 
            name="listing[title]" 
            value="<%=listing.title%>" 
            type="text" 
            class="form-control" required/>
            <div class="valid-feedback">Looks good!!</div>
            <div class="invalid-feedback">Tilte should be valid</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea 
            name="listing[description]" 
            class="form-control" required> <%=listing.description%>
        </textarea>
        <div class="valid-feedback">Looks good!!</div>
        <div class="invalid-feedback">Description should be valid</div>
        </div>
    

    <!-- yaha pr original image ke liye img tag use nahi kiya humne woh functionality nahi kar rahe hum -->
       <div class="mb-3">
        <label for="image" class="form-label"> Upload New Image</label>
        <input
         name="listing[image]" 
         type="file"
         class="form-control"/>
       </div>
   
       <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input 
            name="listing[price]" 
            value="<%=listing.price%>"
           type="number"
             class="form-control" required/>
             <div class="valid-feedback">Looks good!!</div>
            <div class="invalid-feedback">Price should be valid</div>
          </div>

           <div class="mb-3 col-md-4">
            <label for="country" class="form-label">Country</label>
            <input 
            name="listing[country]" 
            value="<%=listing.country%>" 
            type="text" 
            class="form-control" required/>
            <div class="valid-feedback">Looks good!!</div>
            <div class="invalid-feedback">Country name should be valid</div>
            </div>   
            <div class="mb-3 col-md-4">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" name="listing[category]" required>
                    <option value="" disabled>Choose...</option>
                    <option value="Mountains" <%= listing.category === "Mountains" ? "selected" : "" %>>Mountains</option>
                    <option value="Beach" <%= listing.category === "Beach" ? "selected" : "" %>>Beach</option>
                    <option value="Boats" <%= listing.category === "Boats" ? "selected" : "" %>>Boats</option>
                    <option value="Amazing pools" <%= listing.category === "Amazing pools" ? "selected" : "" %>>Amazing pools</option>
                    <option value="Iconic Cities" <%= listing.category === "Iconic Cities" ? "selected" : "" %>>Iconic Cities</option>
                    <option value="Arctic" <%= listing.category === "Arctic" ? "selected" : "" %>>Arctic</option>
                    <option value="Camping" <%= listing.category === "Camping" ? "selected" : "" %>>Camping</option>
                    <option value="Other" <%= listing.category === "Other" ? "selected" : "" %>>Other</option>
                </select>
                <div class="valid-feedback">Looks good!!</div>
                <div class="invalid-feedback">Please select a valid category</div>
            </div>   
       </div>
       
        
       <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input 
        name="listing[location]" 
        value="<%=listing.location%>" 
        type="text" 
        class="form-control" required/>
        <div class="valid-feedback">Looks good!!</div>
            <div class="invalid-feedback">Location should be valid</div>
       </div>
        
        

        
        <button class="btn btn-dark edit-btn mt-3">Edit the location</button>
        <br><br>
    </form>
</div>
</div>
<!-- <script src="/js/script.js"></script> -->
</body>
